.intro{
   text-align: center;
   color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: larger;
}

.back{
    background-color: antiquewhite;
}
.middle{
    align-items: center;
}
.big{
    font-size: 30px;
}
.right{
    text-align: right;
}

#list_big{
    font-size: 40px;
}
.work_exp{
    background-color: aliceblue;
}